.header {
    align-items: center;
    background-color: #DCDCDC;
    border: 1px solid #000000;
    display: grid;
    font-weight: bold;
    grid-gap: 2px;
    grid-template-columns: 20% 25% 5% 5% 15% 30%;
    grid-template-rows: 30px;
    text-align: center;
    vertical-align: middle;
}

.name {
    cursor: pointer;
}